In [78]:
import pandas as pd
from datetime import datetime

In [6]:
df = pd.read_csv('lesson_1_data.csv', encoding = 'windows-1251', sep = ';')

In [7]:
df

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [8]:
df.head()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [9]:
df.tail()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [10]:
df.head(10)

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN
5,1062900,03.12.2019 21:49,NaN,Курс обучения «Консультант»,Отменен,0.0,Краснодарский край,NaN
6,1062911,04.12.2019 13:12,NaN,Курс обучения «Консультант»,Отменен,0.0,NaN,NaN
7,1062914,04.12.2019 14:57,NaN,Курс обучения «Консультант»,Отменен,0.0,Республика Башкортостан,NaN
8,1062915,04.12.2019 16:08,NaN,Курс обучения «Эксперт»,Отменен,0.0,Тульская область,NaN
9,1062925,04.12.2019 21:51,NaN,Курс обучения «Эксперт»,Отменен,0.0,Республика Татарстан,NaN

In [11]:
df.shape

(292, 8)

In [12]:
df

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [13]:
df.dtypes

Номер                  int64
Дата создания         object
Дата оплаты           object
Title                 object
Статус                object
Заработано           float64
Город                 object
Платежная система     object
dtype: object

In [14]:
df.describe()

              Номер    Заработано
count  2.920000e+02    292.000000
mean   1.063745e+06   3397.615034
std    4.438688e+02   5771.572829
min    1.062823e+06      0.000000
25%    1.063608e+06      0.000000
50%    1.063698e+06   2935.440000
75%    1.063807e+06   2935.440000
max    1.064796e+06  42750.000000

In [16]:
#df.decribe('Номер')

In [17]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [24]:
df = df.rename(columns = {'Номер' : 'number', 
          'Дата создания' : 'create_date',
          'Дата оплаты' : 'payment_date',
          'Title' : 'title',
          'Статус' : 'status',
          'Заработано' : 'money',
          'Город' : 'city',
          'Платежная система' : 'payment_system'})

In [21]:
#df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [22]:
#df.head()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [25]:
df.head()

,number,create_date,payment_date,title,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [26]:
df['title']

0                                Курс обучения «Эксперт»
1                                Курс обучения «Эксперт»
2                             Курс обучения «Специалист»
3                            Курс обучения «Консультант»
4                                Курс обучения «Эксперт»
                             ...
287    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...
288                          Курс обучения «Консультант»
289                          Курс обучения «Консультант»
290    Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...
291    Курс от Школы Диетологов. Повышение квалификац...
Name: title, Length: 292, dtype: object

In [28]:
df[['money', 'city']]

        money                           city
0    29597.50                           Чита
1    17450.30                      Краснодар
2        0.00                            NaN
3        0.00  г.Москва и Московская область
4        0.00  г.Москва и Московская область
..        ...                            ...
287   2935.44              Самарская область
288      0.00                            NaN
289   7423.92                            NaN
290   2935.44             Республика Карелия
291   9898.56                            Уфа

[292 rows x 2 columns]

In [32]:
df[['status', 'number']].head(8)

     status   number
0  Завершен  1062823
1  Завершен  1062855
2   Отменен  1062856
3   Отменен  1062880
4   Отменен  1062899
5   Отменен  1062900
6   Отменен  1062911
7   Отменен  1062914

In [33]:
df.columns

Index(['number', 'create_date', 'payment_date', 'title', 'status', 'money',
       'city', 'payment_system'],
      dtype='object')

In [34]:
df.payment_date

0      01.12.2019 10:52
1      01.12.2019 21:27
2                   NaN
3                   NaN
4                   NaN
             ...
287    30.12.2019 12:49
288                 NaN
289     31.12.2019 2:22
290    01.01.2020 14:29
291    31.12.2019 17:32
Name: payment_date, Length: 292, dtype: object

In [35]:
df.payment_system.tail()

287                        Яндекс.Касса
288                                 NaN
289    Сбербанк эквайринг,Бонусный счет
290                        Яндекс.Касса
291    Сбербанк эквайринг,Бонусный счет
Name: payment_system, dtype: object

In [36]:
df.head().money.sum()

47047.8

In [37]:
all_money = df.money.sum()

In [38]:
all_money

992103.5900000001

In [49]:
df \
.groupby('title', as_index=False) \
.aggregate({'money' : 'sum'}) \
.sort_values('money', ascending=False)

                                               title      money
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20
0                        Курс обучения «Консультант»  208163.49
1                         Курс обучения «Специалист»  160862.64
2                            Курс обучения «Эксперт»  148992.80
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92
3                   Курс от Школы Диетологов. Бизнес   18752.54

In [42]:
df.groupby('title').aggregate({'money' : 'mean'})

                                                           money
title
Курс обучения «Консультант»                          4003.144038
Курс обучения «Специалист»                          13405.220000
Курс обучения «Эксперт»                              6772.400000
Курс от Школы Диетологов. Бизнес                     2083.615556
Курс от Школы Диетологов. Повышение квалификации.    5892.328000
Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосп...   2016.193407

In [51]:
money_by_city = df \
.groupby(['title', 'city'], as_index=False) \
.aggregate({'money' : 'sum'}) \
.sort_values('money', ascending=False)

In [52]:
money_by_city

,title,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
...,...,...,...
63,Курс от Школы Диетологов. Повышение квалификац...,Кемерово,0.00
61,Курс от Школы Диетологов. Повышение квалификац...,Екатеринбург,0.00
55,Курс от Школы Диетологов. Бизнес,Крым Советский,0.00
54,Курс от Школы Диетологов. Бизнес,Киев,0.00
158,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,нижний Новгород,0.00

In [53]:
money_by_city.head(16)

,title,city,money
51,Курс обучения «Эксперт»,г.Санкт-Петербург и Ленинградская область,59195.00
156,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,г.Москва и Московская область,46967.04
39,Курс обучения «Эксперт»,Балхаш,42750.00
95,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Краснодарский край,38169.78
30,Курс обучения «Специалист»,Краснодар,29695.70
33,Курс обучения «Специалист»,"Московская область, г. Подольск",29695.70
32,Курс обучения «Специалист»,Магаданская область,29695.70
31,Курс обучения «Специалист»,Красноярский край,29695.70
49,Курс обучения «Эксперт»,Чита,29597.50
38,Курс обучения «Специалист»,г.Москва и Московская область,19698.90
5,Курс обучения «Консультант»,Воронежская область,19600.72
35,Курс обучения «Специалист»,Рязанская область,18789.10
27,Курс обучения «Консультант»,г.Москва и Московская область,18178.18
17,Курс обучения «Консультант»,Ростовская область,17921.75
41,Курс обучения «Эксперт»,Краснодар,17450.30
8,Курс обучения «Консультант»,Краснодарский край,16351.28

In [54]:
money_by_city.to_csv('money_to_city.csv', index=False)

In [56]:
df \
.groupby('title', as_index=False) \
.aggregate({'money' : 'sum', 'number' : 'count'}) \
.sort_values('money', ascending=False)

                                               title      money  number
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20     182
0                        Курс обучения «Консультант»  208163.49      52
1                         Курс обучения «Специалист»  160862.64      12
2                            Курс обучения «Эксперт»  148992.80      22
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92      15
3                   Курс от Школы Диетологов. Бизнес   18752.54       9

In [59]:
df \
.query('number > 1064720') \
.groupby('title', as_index=False) \
.aggregate({'money' : 'sum', 'number' : 'count'}) \
.sort_values('money', ascending=False)

                                               title    money  number
1  Курс от Школы Диетологов. Повышение квалификац...  9898.56       1
0                        Курс обучения «Консультант»  7423.92       2
2  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  2935.44       1

In [63]:
df \
.query("status == 'Завершен'") \
.groupby('title', as_index=False) \
.aggregate({'money' : 'sum', 'number' : 'count'}) \
.sort_values('money', ascending=False)

                                               title      money  number
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20     125
0                        Курс обучения «Консультант»  208163.49      31
1                         Курс обучения «Специалист»  160862.64       7
2                            Курс обучения «Эксперт»  148992.80       5
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92       9
3                   Курс от Школы Диетологов. Бизнес   18752.54       3

In [66]:
money_title = df \
.query("status == 'Завершен'") \
.groupby('title', as_index=False) \
.aggregate({'money' : 'sum', 'number' : 'count'}) \
.sort_values('money', ascending=False) \
.rename(columns = {'number' : 'success_order'})

In [67]:
money_title

                                               title      money  success_order
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20            125
0                        Курс обучения «Консультант»  208163.49             31
1                         Курс обучения «Специалист»  160862.64              7
2                            Курс обучения «Эксперт»  148992.80              5
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92              9
3                   Курс от Школы Диетологов. Бизнес   18752.54              3

In [69]:
df.title.unique()

array(['Курс обучения «Эксперт»', 'Курс обучения «Специалист»',
       'Курс обучения «Консультант»', 'Курс от Школы Диетологов. Бизнес',
       'Курс от Школы Диетологов. Повышение квалификации. ',
       'Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосписанием'],
      dtype=object)

In [73]:
int(money_title.money.sum())

992103

In [72]:
int(all_money)

992103

In [74]:
if int(money_title.money.sum()) == int(all_money):
    print('OK!')
else:
    print('ERROR!')

OK!

In [82]:
money_title_head = df.head(20) \
.query("status == 'Завершен'") \
.groupby('title', as_index=False) \
.aggregate({'money' : 'sum', 'number' : 'count'}) \
.sort_values('money', ascending=False) \
.rename(columns = {'number' : 'success_order'})

In [83]:
if int(money_title_head.money.sum()) == int(all_money):
    print('OK!')
else:
    print('ERROR!')

ERROR!

In [80]:
today_date = datetime.today().strftime('%Y-%m-%d')

In [84]:
file_name = 'money_title_{}.csv'

In [85]:
file_name.format(today_date)

'money_title_2022-06-01.csv'

In [29]:
df.tale[['status', 'number']]

AttributeError: 'DataFrame' object has no attribute 'tale'