1) Начнём с простого - сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name какое-нибудь имя в виде строки

In [1]:
age = 38
name = 'Kostya'

2) Создайте список user_info, содержащий 2 строки (имя и фамилия пользователя), 1 дробное число (зарплата) и 1 целое число (стаж)

In [3]:
user_info = ['Kostya', 'Medvedev', 83009.56, 7]

In [4]:
salaries = [80000, 100000, 120000,]
first = salaries[0]

In [5]:
first

80000

Добавьте в список users элементы 'Voronov' и 42

In [13]:
user = ['John', 67, 'Lee', 43]
user
user.append('Voronov')
user.append(42)
user

['John', 67, 'Lee', 43, 'Voronov', 42]

В переменной user_ages содержится список возрастов клиентов. Напишите петлю, выводящую на печать возраста, которые больше 18
Пример данных, которые могут быть в user_ages
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [14]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [17]:
for i in user_ages:
    print(i)

10
18
21
35
42
27
12
16

In [19]:
for i in user_ages:
    if i > 18:
        print(i)

21
35
42
27

In [20]:
salaries = [1,2,3,4,5,6,7,8]
salaries[0]
salaries[-1]

8

In [21]:
salaries[0]

1

In [22]:
#salaries[12]

IndexError: list index out of range